.attach-docs {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.attach-docs-con {
  background: rgb(204 204 204 / 19%);
  border-radius: 4px;
  border: 1px dashed rgb(204 204 204 / 46%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
} 
label.attach-docs-con p {
    margin-bottom: 0px;
    color: #5e606e;
  } 
  .main-descption h4 {
    margin-bottom: 0px;
    font-weight: 500;
  }
  .main-descption{
    padding: 10px 15px;
  }
  .main-descption p {
    color: #3c3c3c;
    font-size: 12px; 
    line-height: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
  } 
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    display: flex;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: rgb(0 143 67);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(0 143 67);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  
  .ftr-btn { 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.brdr-0{
    border: 0px;
}
.tags .tags-con {
    font-size: 10px;
    line-height: 12px;
    color: #878a98;
    background: #f2f2f4;
    border-radius: 10px;
    padding: 2px 5px;
}