<div style="width: 450px;">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        {{data.message}}
    </div>
    <div style="float:right;margin-top:20px;">
        <button type="submit" mat-dialog-close="true" class="btn btn-success m-2"> Ok</button>
        <button type="submit" mat-dialog-close="false" class="btn btn-danger m-2"> Cancel</button>
    </div>
</div>