<div class="container">  
    <div class="row">
        
        <div class="col-sm-12"> 
            <div class="client-tabs">
                <h1>Welcome {{clientName}}</h1>
                <p>Here is what's going on with your employee benefits program</p>
                
                
                <h3>Plan summaries</h3>
                <p>Currently there are no plans for this client</p>
                
                
                <div class="example-button-row">
                    <button type="button" class="btn btn-outline-success mb-5" >Add Plan</button>
                </div>

                </div>  
            </div>  
        </div>  
    </div>  




