.client-tabs .mat-tab-label, .mat-tab-link {
    color: #000;
  } 
  .client-tabs .mat-tab-labels {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  .con-row{
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr ;
    display: grid;
    grid-gap: 20px;
    background-color: #fff;
    border: 1px solid #e6e8ec;
    border-radius: 16px;
    color: #505760;
    padding: 20px;
    margin-bottom: 15px;
  }
  .tabs-con-hdr .con-row {
    border: 0px;
    margin: 0px;
  }
  .cl-name .cl-name-b {
    font-weight: 500;
  }
  .cl-name {
    display: grid;
  }
  .contact-type select {
    border-radius: 15px;
    padding: 3px 5px;
    font-size: 13px;
  }
  .ws-access .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
  }
  
  .ws-access .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .ws-access .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ws-access .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ws-access input:checked + .slider {
    background-color: #2c9942;
  }
  
  .ws-access input:focus + .slider {
    box-shadow: 0 0 1px #2c9942;
  }
  
  .ws-access input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .ws-access .slider.round {
    border-radius: 34px;
  }
  
  .ws-access .slider.round:before {
    border-radius: 50%;
  }
  .ws-access {
    margin-left: 15px;
  }
  
  .client-actions{
    display:flex;
  }
  .client-actions .c-edit, .client-actions .c-delete {
    margin-right: 15px;
    cursor: pointer;
  }
  .c-edit svg:hover .c-edit svg path, .c-delete svg:hover .c-delete svg path{
    fill: #2c9942;
  }
  .client-tabs h2.domestic-hdr{
  margin: 15px 0px 0px 0px;
  }
  .serviceTeam .con-row{
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr ;
  }
  .cl-name-img img {
    width: 35px;
    height: 35px;
  }
  .dis-flex{
    display: flex;
  }
  .cl-name-img{
    margin-right: 10px; 
  }
  .spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    right: 50%; 
    margin: 10px;
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
  }
  mat-dialog-container {
    color: black !important;
    background-color: white !important;
  }
  /* Absolute Center Spinner */
  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }