<div class="container">
    <div class="row">
        <h2 (click)="cahche_set()">Clients Settings</h2>
        <div class="col-sm-12">
            <div class="client-tabs">
                <mat-tab-group (selectedTabChange)="tabClick($event)" animationDuration="0ms">
                    <mat-tab label="Client Profile">
                        work-in-progress
                        <div *ngFor="let user of Profiledata;">
                            <p>{{user.firstName}}</p>
                            <p>{{user.companyname}}</p>
                        </div>

                    </mat-tab>
                    <mat-tab (click)="getClients()" label="Client Contacts">
                        <div class="spinner loading-indicator" *ngIf="loading">
                            <mat-progress-spinner diameter=50   mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                        <div *ngIf="!loading">
                            <div class="client-tabs-con">
                                <div class="tabs-con-hdr">
                                    <div class="con-row">
                                        <div class="colms">Name</div>
                                        <div class="colms">Contact Info</div>
                                        <div class="colms">Contact Type</div>
                                        <div class="colms">360 Access</div>
                                        <div class="colms">Last Access</div>
                                        <div class="colms">Action</div>
                                    </div>
                                </div>
                                <div class="tabs-con-body">
                                    <div class="con-row" *ngFor="let client of clientData;">
                                        <div class="colms">
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{client.firstName}} - {{client.lastName}}</span>
                                                <!-- <small>{{client.desg}}</small> -->
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{client.workPhoneNumber}}</span>
                                                <small>{{client.email}}</small>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="contact-type">
                                                <select class="form-control" [disabled]="true" [ngModel]="client.contactType">
                                                    <option *ngFor="let c of contactTypes" [value]="c.value">{{c.text}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="ws-access">
                                                <label class="switch">
                                                    <input type="checkbox" [disabled]="true" [checked]="client.isW360Access">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="colms">

                                            <!-- <div class="cl-name">
                                                <span class="cl-name-b">{{client.lastAccessday}}</span>
                                                <small>{{client.lastAccesstime}}</small>
                                            </div> -->
                                        </div>
                                        <div class="colms">
                                            <div class="client-actions">
                                                <div class="c-edit" (click)="editClient(client);">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.5 12.3751V15.5001H3.625L12.8417 6.28346L9.71667 3.15846L0.5 12.3751ZM15.2583 3.8668C15.5833 3.5418 15.5833 3.0168 15.2583 2.6918L13.3083 0.741797C12.9833 0.416797 12.4583 0.416797 12.1333 0.741797L10.6083 2.2668L13.7333 5.3918L15.2583 3.8668Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>
                                                <div class="c-delete" (click)="removeClient(client)">
                                                    <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.999349 13.8333C0.999349 14.75 1.74935 15.5 2.66602 15.5H9.33268C10.2494 15.5 10.9994 14.75 10.9994 13.8333V3.83333H0.999349V13.8333ZM2.66602 5.5H9.33268V13.8333H2.66602V5.5ZM8.91602 1.33333L8.08268 0.5H3.91602L3.08268 1.33333H0.166016V3H11.8327V1.33333H8.91602Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="example-button-row">
                                <button type="button" class="btn btn-outline-success mb-5" (click)="addClient();">Add
                                    Contact</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab (click)="getServiceTeam()" label="Service Team">
                        <div class="spinner loading-indicator" *ngIf="loading">
                            <mat-progress-spinner diameter=50   mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                        <div *ngIf="!loading">
                            <div class="client-tabs-con serviceTeam">
                                <h2 class="domestic-hdr">Domestic</h2>
                                <div class="tabs-con-hdr">
                                    <div class="con-row">
                                        <div class="colms">Name</div>
                                        <div class="colms">Contact Info</div>
                                        <div class="colms">Key Contact</div>
                                        <div class="colms">Role for Client</div>
                                    </div>
                                </div>
                                <div class="tabs-con-body">
                                    <div class="con-row" *ngFor="let user of domesticServiceData;">
                                        <div class="colms dis-flex">
                                            <div class="cl-name-img">
                                                <img src="../../assets/images/avatar-fbrown.png">
                                            </div>
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{user.firstName}} - {{user.lastName}}</span>
                                                <!-- <small>{{user.desg}}</small> -->
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{user.workPhoneNumber}}</span>
                                                <small>{{user.email}}</small>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="contact-type">
                                                <select class="form-control" [(ngModel)]="user.contactType">
                                                    <option *ngFor="let c of contactTypes" [value]="c.value">{{c.text}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="ws-access">
                                                <label class="switch">
                                                    <input type="checkbox" [checked]="user.isW360Access">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="client-actions">
                                                <div class="c-edit" (click)="editEmployee(user)">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.5 12.3751V15.5001H3.625L12.8417 6.28346L9.71667 3.15846L0.5 12.3751ZM15.2583 3.8668C15.5833 3.5418 15.5833 3.0168 15.2583 2.6918L13.3083 0.741797C12.9833 0.416797 12.4583 0.416797 12.1333 0.741797L10.6083 2.2668L13.7333 5.3918L15.2583 3.8668Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>
                                                <div class="c-delete" (click)="removeDomesticOrInternational(user,'D')">
                                                    <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.999349 13.8333C0.999349 14.75 1.74935 15.5 2.66602 15.5H9.33268C10.2494 15.5 10.9994 14.75 10.9994 13.8333V3.83333H0.999349V13.8333ZM2.66602 5.5H9.33268V13.8333H2.66602V5.5ZM8.91602 1.33333L8.08268 0.5H3.91602L3.08268 1.33333H0.166016V3H11.8327V1.33333H8.91602Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="example-button-row">
                                <button type="button" class="btn btn-outline-success mb-5" (click)="addEmployee()">Add Team Member</button>
                            </div>
                        </div>
                        <div *ngIf="!loading">
                            <div class="client-tabs-con serviceTeam">
                                <h2 class="domestic-hdr">International</h2>
                                <div class="tabs-con-hdr">
                                    <div class="con-row">
                                        <div class="colms">Name</div>
                                        <div class="colms">Contact Info</div>
                                        <div class="colms">Key Contact</div>
                                        <div class="colms">Role for Client</div>
                                    </div>
                                </div>
                                <div class="tabs-con-body">
                                    <div class="con-row" *ngFor="let user of internationalServiceData;">
                                        <div class="colms dis-flex">
                                            <div class="cl-name-img">
                                                <img src="../../assets/images/avatar-fbrown.png">
                                            </div>
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{user.firstName}} - {{user.lastName}}</span>
                                                <!-- <small>{{user.desg}}</small> -->
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="cl-name">
                                                <span class="cl-name-b">{{user.workPhoneNumber}}</span>
                                                <small>{{user.email}}</small>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="contact-type">
                                                <select class="form-control" [(ngModel)]="user.contactType">
                                                    <option *ngFor="let c of contactTypes" [value]="c.value">{{c.text}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="ws-access">
                                                <label class="switch">
                                                    <input type="checkbox" [checked]="user.isW360Access">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="colms">
                                            <div class="client-actions">
                                                <div class="c-edit" (click)="editEmployee(user)">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.5 12.3751V15.5001H3.625L12.8417 6.28346L9.71667 3.15846L0.5 12.3751ZM15.2583 3.8668C15.5833 3.5418 15.5833 3.0168 15.2583 2.6918L13.3083 0.741797C12.9833 0.416797 12.4583 0.416797 12.1333 0.741797L10.6083 2.2668L13.7333 5.3918L15.2583 3.8668Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>
                                                <div class="c-delete" (click)="removeDomesticOrInternational(user, 'I')">
                                                    <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.999349 13.8333C0.999349 14.75 1.74935 15.5 2.66602 15.5H9.33268C10.2494 15.5 10.9994 14.75 10.9994 13.8333V3.83333H0.999349V13.8333ZM2.66602 5.5H9.33268V13.8333H2.66602V5.5ZM8.91602 1.33333L8.08268 0.5H3.91602L3.08268 1.33333H0.166016V3H11.8327V1.33333H8.91602Z"
                                                            fill="#474D54"></path>
                                                    </svg>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="example-button-row">
                                <button type="button" class="btn btn-outline-success mb-5" (click)="addEmployee()">Add Team Member</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>