
.hdr-filter {
    display: flex;
    justify-content: space-between;
  }
  .s-acA {
    display: flex;
    justify-content: space-between;
  }
  
  .s-acA {
    background: white;
    border: 1px solid rgb(204 204 204 / 36%);
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 0px #ccc;
  }
  .acA-cmnt {
    display: flex;
    align-items: center;
  }
  
  .acA-cmnt p {
    margin: 0px 10px;
  }
  .hdr-filter select {
    height: 30px;
    width: 100px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .hdr-filter h3 {
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
  }
  .acA-cmnt svg {fill: #7f7f90;margin-right: 5px;}
  .acA-desc p.acA-desc-Date {
    color: #9f9fab;
    font-size: 12px;
  }
  .acA-desc p {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .acA-desc p.acA-desc-Date svg {
    margin-right: 7px;
  }
  p.acA-cmnt-name {
    background: #268f39;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .acActivity-Con .pagination {
    margin-top: 20px;
  }
  
  .acActivity-Con .pagination button {
    margin-right: 10px;
  }