<form  (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="Rborder">
            <div class="row">
                <div class="col-md-10 col-md-push-10">
                    <h2>New Open Item</h2>
                </div>
                <div class="col-md-2 col-md-push-2">
                    <button mat-button class="close-icon" [mat-dialog-close]="true">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
  
                <div class="col-sm-12 main-descption">
                    <h4>Description</h4>
                    <p>Create a new item for yourself or you team. You will need to manually mark an open item as completed when it is finished. Ypu can assign other users or teams to this item. You can also allow other users to view and/or edit this item.</p>
                </div>
                <div class="col-sm-12">
                    <div class="form-group"> 
                        <label for="Title">Title </label>
                        <input type="text" class="form-control"
                            placeholder="Title">
                     
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description (optional)</label>
                        <textarea class="form-control" rows="5" placeholder="Type"></textarea>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="contactType">Assign to </label>
                        <select class="form-control">
                            <option>Me</option>
                            <option>Some one else</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Address">Due Date</label>
                        <input type="text" class="form-control" placeholder="Address">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="contactType">Associated Workflow(optional) </label>
                        <select class="form-control">
                            <option>None</option>
                            <option>New</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="contactType">Share Item With:</label>
                        <select class="form-control">
                            <option>Do Not Share</option>
                            <option>Share</option>
                        </select>
                    </div>
                </div>
               
                <div class="col-sm-8">
                    <div class="form-group d-flex mt-3">
                        <label for="Contact-type">Display item to Client</label>
                        <label class="switch ml-3">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group attach-docs">
                        <label for="Contact-type">Attach Documents (optional)</label>
                        <label for="A-docs" class="attach-docs-con">
                            <input type="file" style="display:none;" id="A-docs">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                                  </svg>
                                Drag and here or click to upload documents</p>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12"> 
                    <div class="ftr-btn">
                        <button type="submit" class="btn btn-success"> Create open Item</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</form>