<div class="client-tabs-con serviceTeam">
    <h2 class="domestic-hdr">Domestic</h2>
    <div class="tabs-con-hdr">
        <div class="con-row">
            <div class="colms" *ngFor="let column of columns;">{{column}}</div>
        </div>
    </div>
    <div class="tabs-con-body">
        <div class="con-row" *ngFor="let user of serviceData;">
            <div class="colms dis-flex">
                <div class="cl-name-img">
                    <img src="../../assets/images/avatar-fbrown.png">
                </div>
                <div class="cl-name">
                    <span class="cl-name-b">{{user.firstName}}</span>
                    <!-- <small>{{user.desg}}</small> -->
                </div>
            </div>
            <div class="colms">
                <div class="cl-name">
                    <span class="cl-name-b">{{user.workPhoneNumber}}</span>
                    <small>{{user.email}}</small>
                </div>
            </div>
            <div class="colms">
                <div class="contact-type">
                    <select class="form-control" [(ngModel)]="user.contactType">
                        <option *ngFor="let c of contactTypes" [value]="c.value">{{c.text}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="colms">
                <div class="ws-access">
                    <label class="switch">
                        <input type="checkbox" [checked]="user.isW360Access">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>