.container {
    font-size: small;
}
input {
    font-size: 1em;
}
.mobile-prefix {
    display: flex;
    font-size: 10px;
  }
  .mobile-prefix select {
    width: 100px; 
    margin-right: 15px;
  }
  .bottom-align {
    align-items: center;
    display: flex;
  }
  .add-email a {
    color: rgb(0 143 67);
    margin: 10px 0px 20px;
    float: left;
    font-weight: 500;
  }
  [type="radio"].with-gap:checked+label:before {
    border-radius: 50%;
    border: 2px solid #26a69a;
  }
  [type="radio"].with-gap:checked+label:after {
    border-radius: 50%;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .Rborder {
    margin: 20px 0px;
    padding: 10px 0px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    display: flex;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: rgb(0 143 67);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(0 143 67);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .ftr-btn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  .ftr-btn a {
    color: #008f43;
    margin: 10px 0px 20px;
    float: left;
    font-weight: 500;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3; /* Firefox */
  }

  /* input> [disabled] { 
    background-color:white;
    color: black;
  } */