
/* ----------- single panel start --------------------- */
.hdr-filter {
    display: flex;
    justify-content: space-between;
}
.s-acA { 
    display: flex;
    justify-content: space-between;
}
.s-acA {
    background: white;
    border: 1px solid rgb(204 204 204 / 36%);
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 0px #ccc;
}
.acA-cmnt {
    display: flex;
    align-items: center;
}

.acA-cmnt p {
    margin: 0px 10px;
}
.hdr-filter select {
    height: 30px;
    width: 100px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.hdr-filter h3 {
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}
.acA-cmnt svg {fill: #7f7f90;margin-right: 5px;}
.acA-desc p.acA-desc-Date {
    color: #9f9fab;
    font-size: 12px;
}
.acA-desc p {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}
.acA-cmnt span {
    color: #7f7f90;
}
.acA-cmnt .acA-cmnt-name span {
    color: white;
} 
.acA-desc p.acA-desc-Date svg {
    margin-right: 7px;
}
p.acA-cmnt-name {
    background: #268f39;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acActivity-Con .pagination {
    margin-top: 20px;
}

.acActivity-Con .pagination button {
    margin-right: 10px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .wh-bg .mat-expansion-panel {
    background: #fff;
    padding: 0px 15px; 
    margin-top: 10px;
} 
.wh-bg .mat-expansion-panel-spacing{
    margin-top: 10px !important;
}
.wh-bg .mat-accordion>.mat-expansion-panel-spacing:first-child, .wh-bg .mat-accordion>*:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 10px; 
}
.wh-bg .mat-expansion-panel-header-title {
    color: #000;
}
.wh-bg .mat-expansion-panel-header-description, .wh-bg .mat-expansion-indicator::after {
    color: rgb(0 0 0 / 70%);
} 
.wh-bg .mat-expansion-panel-header-description {
    flex-grow: 0;
}
.wh-bg .mat-expansion-panel-header {
    padding: 0 0px;
} 
.wh-bg .mat-expansion-panel-header {
    height: 60px;
}
.wh-bg .acr-panel-header p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
}
.wh-bg .acr-panel-header p.sub-hdr {
    font-size: 10px;
    color: #7f7f90;
}
.wh-bg .acr-Date{
    color: #85858f;
    font-size: 12px;
    font-weight: 500; 
    display: flex;
    align-items: center;
}
.wh-bg .acr-Date svg{
    margin-right: 7px;
}  
.wh-bg .mat-expansion-panel-body {
    padding: 0 0px 16px;
}  
.wh-bg .acr-panel-header {
    display: flex;
    align-items: center;
}
.wh-bg .acr-panel-header .rt-bg {
    width: 20px;
    height: 20px;
    background: #2c9942;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
} 
.s-acA.sucs {
    background: rgb(233 244 235);
    border: 1px solid rgb(153 205 163);
} 
.acA-desc .rt-bg {
    width: 20px;
    height: 20px;
    background: #ffffff;
    color: #2c9942;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.acA-desc {
    display: flex;
    align-items: center;
} 
/* ----------- single panel end --------------------- */
/* ----------- Recent panel start --------------------- */
.recent {
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0px 1px 7px 1px rgb(26 26 26 / 15%);
}
.recent-hdr h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px
} 
.recent-s-item {
    border-top: 1px solid rgb(204 204 204 / 25%);
    padding-top: 15px;
    display: flex;
    margin-bottom: 15px;
} 
.recent-s-item .RC-img img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.recent-s-item .RC-desc p {
    font-size: 12px;
    width: 80%;
    line-height: 14px;
    margin-bottom: 0px;
}
.recent-s-item .RC-desc p span {
    font-weight: 500;
}
.recent-s-item .RC-desc p.RC-desc-time {
    margin: 5px 0px 0px;
    font-size: 10px;
    color: #727272;
}
/* ----------- Recent panel end --------------------- */
/* ----------- Recent Documents panel start -------------------- */
.recent.R-doc {
    margin-top: 30px;
} 
.R-doc .recent-hdr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204 204 204 / 25%);
    margin-bottom: 10px;
}
.R-doc .recent-hdr p.R-viewall {
    font-size: 12px;
    color: #2c9942;
    font-weight: 500;
}
.R-doc .recent-s-item {
    border: 1px solid rgb(204 204 204 / 25%);
    padding: 15px;
    display: block;
    margin-bottom: 15px;
    border-radius: 4px;
}
.R-doc .RC-img, .R-doc .RC-desc {
    display: flex;
    justify-content: space-between;
}
.R-doc .recent-s-item p.R-doc-date {
    font-size: 11px;
    color: #8d8b8b;
}

.R-doc .recent-s-item p.R-doc-name {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.R-doc .recent-s-item p.R-doc-status {
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: end;
} 
.R-doc .recent-s-item p.R-doc-status span {
    background: rgb(242 242 246);
    padding: 3px 10px;
    border-radius: 10px;
    color: rgb(152 155 181);
    font-weight: normal;
} 
.R-doc .RC-img svg {
    width: 30px;
    height: 30px;
    color: #2c9942;
} 
.view-completed {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    color: #918585;
    font-size: 12px;
} 
/* ----------- Recent Documents panel end --------------------- */
/* ----------- Line accordian panel start  --------------------- */
.line-accordion .mat-expansion-panel:not([class*=mat-elevation-z]) {
    background: inherit;
    box-shadow: inherit;
    border-bottom: 1px solid #ccc;
    border-radius: 0px; 
}
.line-accordion h3 {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
p.panel-hideItem {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 2px;
} 
mat-dialog-container {
    color: black !important;
    background-color: white !important;
}   
/* ----------- Line accordian panel end  --------------------- */ 
/* ----------- top tabs panels start  --------------------- */ 
.mat-tab-label, .mat-tab-link {
    color: #000;
}
/* ----------- top tabs panels end  --------------------- */ 