<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-4">
            <h2>Welcome back, merry</h2>
            <mat-tab-group animationDuration="0ms">
            <mat-tab label="Q4 2021">
            <div class="hdr-filter">
                <h3></h3>
                <div class="hdr-btn mb-3">
                    <button class="btn btn-outline-success mr-5" (click)="addopenItem()">Add Open Item</button>
                    <select>
                        <option>Other workflows</option> 
                    </select>
                </div> 
            </div> 
            <mat-accordion class="wh-bg line-accordion">
                <mat-expansion-panel [expanded]=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>open Items</h3>
                    </mat-panel-title>
                    <mat-panel-description>
                        <p class="panel-hideItem">Hide item 1</p>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="acActivity-Con">
                    <div class="s-acA"> 
                        <div class="acA-desc">
                            <div class="acA-desc-details">
                            <p>Provide Post-Enrollment Census</p>
                            <p class="acA-desc-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              </svg>Feb 1, 2022</p>
                            </div>

                        </div>
                        <div class="acA-cmnt"> 
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                              </svg> <span>2</span></p>
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg><span>4</span></p>
                            <p class="acA-cmnt-name"><span>WS</span></p>
                        </div>
                    </div> 

                </div>
                </mat-expansion-panel>
            </mat-accordion>
            
            <div class="view-completed">
                view completed
            </div>

            <div class="hdr-filter">
                <h3>Tasks &  Workflows</h3>
            </div> 
            <mat-accordion class="wh-bg">
                <mat-expansion-panel [expanded]=true hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    <div class="acr-panel-header">
                        <div class="rt-bg"><span>&#x2714;</span></div>
                        <div>
                            <p>Q1 presention : Data Gathering</p>
                            <p class="sub-hdr">3 of 3 tasks complete</p>
                        </div>
                    </div>
                      
                    </mat-panel-title>
                    <mat-panel-description>
                        <p class="acr-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>Feb 1, 2022
                        </p>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="acActivity-Con">
                    <div class="s-acA sucs">
                        <div class="acA-desc">
                            <div class="rt-bg"><span>&#x2714;</span></div>
                            <div class="acA-desc-details">
                            <p>Provide Post-Enrollment Census</p>
                            <p class="acA-desc-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              </svg>Feb 1, 2022</p>
                            </div>

                        </div>
                        <div class="acA-cmnt"> 
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                              </svg> <span>2</span></p>
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg><span>4</span></p>
                            <p class="acA-cmnt-name"><span>WS</span></p>
                        </div>
                    </div> 
                    <div class="s-acA sucs">
                        <div class="acA-desc">
                            <div class="rt-bg"><span>&#x2714;</span></div>
                            <div class="acA-desc-details">
                            <p>Provide Post-Enrollment Census</p>
                            <p class="acA-desc-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              </svg>Feb 1, 2022</p>
                            </div>

                        </div>
                        <div class="acA-cmnt"> 
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                              </svg> <span>2</span></p>
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg><span>4</span></p>
                            <p class="acA-cmnt-name"><span>WS</span></p>
                        </div>
                    </div> 

                </div>
                </mat-expansion-panel>
                
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    <div class="acr-panel-header">
                        <div class="rt-bg"><span>&#x2714;</span></div>
                        <div>
                            <p>Q1 presention : Data Gathering</p>
                            <p class="sub-hdr">3 of 3 tasks complete</p>
                        </div>
                    </div>
                      
                    </mat-panel-title>
                    <mat-panel-description>
                        <p class="acr-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                          </svg>Feb 1, 2022
                        </p>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="acActivity-Con">
                    <div class="s-acA sucs">
                        <div class="acA-desc">
                            <div class="rt-bg"><span>&#x2714;</span></div>
                            <div class="acA-desc-details">
                            <p>Provide Post-Enrollment Census</p>
                            <p class="acA-desc-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              </svg>Feb 1, 2022</p>
                            </div>

                        </div>
                        <div class="acA-cmnt"> 
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                              </svg> <span>2</span></p>
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg><span>4</span></p>
                            <p class="acA-cmnt-name"><span>WS</span></p>
                        </div>
                    </div> 
                    <div class="s-acA sucs">
                        <div class="acA-desc">
                            <div class="rt-bg"><span>&#x2714;</span></div>
                            <div class="acA-desc-details">
                            <p>Provide Post-Enrollment Census</p>
                            <p class="acA-desc-Date"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                              </svg>Feb 1, 2022</p>
                            </div>

                        </div>
                        <div class="acA-cmnt"> 
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                              </svg> <span>2</span></p>
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg><span>4</span></p>
                            <p class="acA-cmnt-name"><span>WS</span></p>
                        </div>
                    </div> 

                </div>
                </mat-expansion-panel>
              </mat-accordion>

            </mat-tab>
            <mat-tab label="Q1 2022">
                <p>Q1 2022</p>
            </mat-tab> 
          </mat-tab-group>

        </div>
        <div class="col-sm-4">
            <div class="recent">
                <div class="recent-hdr">
                    <h4>Recent Activity</h4>
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <img src="../../assets/images/avatar-fbrown.png">
                        </div>
                        <div class="RC-desc">
                            <p><span>F.Brown </span>marked a task complete: <span>save version of Q1 presention  and start presention</span></p>
                            <p class="RC-desc-time">about 1min ago</p>
                        </div>
                    </div>
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <img src="../../assets/images/avatar-fbrown.png">
                        </div>
                        <div class="RC-desc">
                            <p><span>J.Slay </span>updated <span>Q1 Deck.pptx</span> </p>
                            <p class="RC-desc-time">about 20 hrs ago</p>
                        </div>
                    </div>
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <img src="../../assets/images/avatar-fbrown.png">
                        </div>
                        <div class="RC-desc">
                            <p>"Great discussion today, team! Based on Kirsten's feedback, I am updating the deck and we are ready to send client :)"</p>
                            <p class="RC-desc-time">1 day ago</p>
                        </div>
                    </div>
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <img src="../../assets/images/avatar-fbrown.png">
                        </div>
                        <div class="RC-desc">
                            <p><span>F.simpson </span>marked a task complete: <span>save version of Q1 presention  and start presention</span></p>
                            <p class="RC-desc-time">1 day ago</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recent R-doc">
                <div class="recent-hdr">
                    <h4>Recent Documents</h4>
                    <p class="R-viewall">View all</p>
                </div> 
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                              </svg>
                            <p class="R-doc-date">Jan. 18</p>
                        </div>
                        <div class="RC-desc">
                            <p class="R-doc-name">Alteryx Q1 presention</p>
                            <p class="R-doc-status"><span>In-Progress</span></p>
                        </div>
                    </div> 
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                              </svg>
                            <p class="R-doc-date">Jan. 17</p>
                        </div>
                        <div class="RC-desc">
                            <p class="R-doc-name">Compliance Calendar 2022.pdf</p>
                        </div>
                    </div> 
                </div>
                <div class="recent-items">
                    <div class="recent-s-item">
                        <div class="RC-img">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                              </svg>
                            <p class="R-doc-date">Jan. 10</p>
                        </div>
                        <div class="RC-desc">
                            <p class="R-doc-name">
                                Kaiser Medical HMO Benefits 2022.pdf
                            </p>
                        </div>
                    </div> 
                </div>
            </div>


        </div>
    </div>
</div>