<div class="toast-qr" *ngIf="cliApp_toster">
  <p class="">Something went wrong please try again after sometime</p>
  <button type="button" class="close" (click)="tosterClose()">&times;</button>
</div>  
<mat-sidenav-container class="example-container" autosize>
<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
  <!-- <div class="logo">
    <img class="flogo" *ngIf="isExpanded || isShowing" src="../../../../../assets/images/logo.png">
    <img class="slogo" *ngIf="!isExpanded || !isShowing" src="../../../../../assets/images/logo_icon.png">
  </div> -->

  <svg class="s-logo" [ngClass]='{"min-logo": !isExpanded}'> 
    <path d="M4.1665 0V40.0621L24.89 50L45.6919 40.0621V0H4.1665ZM24.576 30.4348L24.1835 30.5124L19.3951 19.8758L14.6852 30.4348L14.2927 30.3571L9.34737 14.9068H12.2518L14.9992 24.5342L19.3166 14.8292H19.6306L23.8695 24.4565L26.6169 14.9068H29.4428L24.576 30.4348ZM34.9377 30.4348C33.2108 30.4348 31.4838 29.8137 30.0708 28.9596L31.0128 26.6304C32.2688 27.4845 33.6817 28.028 35.0162 28.028C36.6647 28.028 37.3711 27.0963 37.3711 26.0093C37.3711 24.9224 36.9002 24.3012 34.4667 23.2919C31.7978 22.205 30.7773 20.8075 30.7773 18.9441C30.7773 16.7702 32.6613 14.6739 35.8012 14.6739C37.2926 14.6739 38.7841 15.1398 39.6476 15.7609L38.7841 18.0124C37.9991 17.4689 36.7432 16.9255 35.7227 16.9255C34.0742 16.9255 33.3677 17.7795 33.3677 18.7888C33.3677 19.7981 34.1527 20.4193 36.0367 21.2733C39.0981 22.5932 39.9616 23.8354 39.9616 25.7764C40.0401 28.3385 38.1561 30.4348 34.9377 30.4348Z" fill="#2C9942"/>
      <path d="M4.1665 0V40.0621L24.89 50L45.6919 40.0621V0H4.1665ZM24.576 30.4348L24.1835 30.5124L19.3951 19.8758L14.6852 30.4348L14.2927 30.3571L9.34737 14.9068H12.2518L14.9992 24.5342L19.3166 14.8292H19.6306L23.8695 24.4565L26.6169 14.9068H29.4428L24.576 30.4348ZM34.9377 30.4348C33.2108 30.4348 31.4838 29.8137 30.0708 28.9596L31.0128 26.6304C32.2688 27.4845 33.6817 28.028 35.0162 28.028C36.6647 28.028 37.3711 27.0963 37.3711 26.0093C37.3711 24.9224 36.9002 24.3012 34.4667 23.2919C31.7978 22.205 30.7773 20.8075 30.7773 18.9441C30.7773 16.7702 32.6613 14.6739 35.8012 14.6739C37.2926 14.6739 38.7841 15.1398 39.6476 15.7609L38.7841 18.0124C37.9991 17.4689 36.7432 16.9255 35.7227 16.9255C34.0742 16.9255 33.3677 17.7795 33.3677 18.7888C33.3677 19.7981 34.1527 20.4193 36.0367 21.2733C39.0981 22.5932 39.9616 23.8354 39.9616 25.7764C40.0401 28.3385 38.1561 30.4348 34.9377 30.4348Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M68.4919 15.8816L64.1174 5.16839L64.0606 5.1123H63.7766L59.4589 15.9377L56.5616 5.28057L56.5048 5.22448H54.7437L58.8908 20.2566V20.3127L59.2885 20.3688L63.8902 8.81424L68.5487 20.3127L68.6055 20.3688L69.0032 20.3127L73.1504 5.28057V5.22448H71.3892L68.4919 15.8816Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing" d="M81.1042 5C76.8434 5 73.5483 8.36539 73.5483 12.6843C73.5483 17.0032 76.7866 20.3686 80.9906 20.3686C85.2514 20.3686 88.5464 17.0032 88.5464 12.6843C88.4896 8.36539 85.2514 5 81.1042 5ZM86.6148 12.6843C86.6148 16.1619 84.2288 18.7981 81.0474 18.7981C77.866 18.7981 75.4231 16.1619 75.4231 12.6843C75.4231 9.20674 77.8092 6.57052 81.0474 6.57052C84.2288 6.57052 86.6148 9.20674 86.6148 12.6843Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M97.4084 5C93.1476 5 89.8525 8.36539 89.8525 12.6843C89.8525 17.0032 93.0908 20.3686 97.2948 20.3686C101.556 20.3686 104.851 17.0032 104.851 12.6843C104.794 8.36539 101.556 5 97.4084 5ZM102.919 12.6843C102.919 16.1619 100.533 18.7981 97.3516 18.7981C94.1702 18.7981 91.7273 16.1619 91.7273 12.6843C91.7273 9.20674 94.1134 6.57052 97.3516 6.57052C100.533 6.57052 102.919 9.20674 102.919 12.6843Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M110.589 5.11182C109.282 5.11182 108.032 5.16791 106.669 5.33618H106.612V19.9195H106.669C107.805 20.0317 109.168 20.1439 110.702 20.1439C116.554 20.1439 119.167 16.2737 119.167 12.4596C119.167 8.98202 116.497 5.11182 110.589 5.11182ZM117.292 12.5157C117.292 16.3859 114.906 18.6856 110.929 18.6856C109.736 18.6856 108.998 18.6295 108.373 18.5173V6.73842C108.884 6.62624 109.793 6.57015 110.702 6.57015C114.736 6.62624 117.292 8.86984 117.292 12.5157Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M130.699 9.59901C130.699 6.79451 128.54 5.11182 124.904 5.11182C123.541 5.11182 122.348 5.224 121.439 5.33618H121.382V20.0317H123.143V14.2545C123.654 14.2545 124.279 14.3106 124.79 14.3106C125.131 14.3106 125.472 14.3106 125.756 14.2545L129.676 20.0317V20.0878H131.835L127.461 13.9179C129.563 13.2448 130.699 11.6743 130.699 9.59901ZM128.824 9.71119C128.824 11.7304 127.461 12.7961 124.904 12.7961C124.336 12.7961 123.654 12.74 123.143 12.6839V6.8506C123.768 6.73842 124.734 6.68233 125.131 6.68233C127.404 6.68233 128.824 7.86022 128.824 9.71119Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M142.516 14.5911C142.516 17.2834 141.096 18.7418 138.596 18.7418C136.096 18.7418 134.676 17.2834 134.676 14.5911V5.22412H132.915V14.7594C132.915 18.237 135.017 20.3684 138.596 20.3684C142.062 20.3684 144.277 18.1809 144.277 14.7594V5.22412H142.516V14.5911Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M147.175 20.0879H148.936V13.6376H155.356V12.011H148.936V6.79464H156.038V5.22412H147.175V20.0879Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M167.003 6.79464V5.22412H158.14V20.0879H159.901V13.6376H166.321V12.011H159.901V6.79464H167.003Z" fill="#2C9942"/>
      <path *ngIf="isExpanded || isShowing"  d="M59.8592 31.1376C58.1549 30.3524 57.3595 29.5671 57.3595 28.5575C57.3595 27.0992 58.4389 26.1456 60.0865 26.1456C60.9954 26.1456 61.9044 26.4822 62.6998 27.0431L62.7566 27.0992L63.5519 25.5847L63.4951 25.5287C62.5293 24.8556 61.3363 24.519 60.1433 24.519C57.53 24.519 55.4848 26.3139 55.4848 28.6136C55.4848 30.4646 56.5074 31.5864 59.0639 32.7082C61.5067 33.7739 61.9612 34.5591 61.9612 35.737C61.9612 36.971 61.1091 38.205 59.2343 38.205C58.1549 38.205 56.8482 37.7562 55.6552 36.9149L55.712 36.971L54.8599 38.5415L54.9167 38.5976C56.3938 39.5511 57.7572 39.9998 59.2911 39.9998C61.9612 39.9998 63.9496 38.1489 63.9496 35.6809C63.9496 33.6056 62.9838 32.5399 59.8592 31.1376Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M71.561 24.519H71.1633L64.4596 39.5511L64.4028 39.6633H66.2776L68.0387 35.5687H74.6288L76.3899 39.6072V39.6633H78.3215L71.561 24.519ZM74.0038 34.1104H68.7773L71.3906 28.0527L74.0038 34.1104Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M90.5934 35.4002L86.2758 24.7431L86.219 24.687H85.9349L81.5605 35.4563L78.6632 24.7992H76.8452L80.9924 39.8874L81.4469 39.9435L86.0486 28.445L90.7071 39.8874V39.9435L91.1615 39.8874L95.3087 24.9114V24.7992H93.4908L90.5934 35.4002Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M102.637 31.5301L98.4329 24.7993H96.3877L101.671 33.0445V39.6631H103.489V33.1006L108.772 24.7993H106.784L102.637 31.5301Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M110.419 39.6631H119.339V38.0926H112.237V32.9323H118.6V31.3057H112.237V26.3698H119.339V24.7993H110.419V39.6631Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M128.259 33.4931C130.304 32.82 131.44 31.2495 131.44 29.1742C131.44 26.3697 129.224 24.687 125.645 24.687C124.282 24.687 123.089 24.7992 122.18 24.9114H122.123V39.663H123.941V33.8857C124.452 33.8857 125.077 33.9418 125.532 33.9418C125.873 33.9418 126.157 33.9418 126.497 33.8857L130.474 39.663H132.633L128.259 33.4931ZM129.565 29.2864C129.565 31.3056 128.202 32.3713 125.645 32.3713C125.077 32.3713 124.395 32.3152 123.941 32.2591V26.4258C124.566 26.3136 125.532 26.2575 125.929 26.2575C128.145 26.3136 129.565 27.4915 129.565 29.2864Z" fill="#76BC21"/>
      <path *ngIf="isExpanded || isShowing"  d="M144.077 28.1156C144.077 29.0141 143.804 29.7782 143.259 30.4078C142.714 31.0374 141.949 31.4703 140.964 31.7064V31.7655C142.126 31.9097 143.006 32.2639 143.604 32.8279C144.202 33.3854 144.501 34.1397 144.501 35.0906C144.501 36.4745 143.998 37.5534 142.993 38.3273C141.988 39.0946 140.553 39.4783 138.688 39.4783C137.125 39.4783 135.739 39.2193 134.531 38.7011V36.1138C135.089 36.3958 135.703 36.6253 136.373 36.8024C137.043 36.9795 137.706 37.068 138.363 37.068C139.368 37.068 140.11 36.8975 140.59 36.5565C141.069 36.2154 141.309 35.6678 141.309 34.9136C141.309 34.238 141.033 33.7593 140.481 33.4772C139.929 33.1952 139.049 33.0542 137.841 33.0542H136.747V30.7226H137.861C138.977 30.7226 139.792 30.5784 140.304 30.2898C140.823 29.9946 141.082 29.4929 141.082 28.7846C141.082 27.6959 140.399 27.1515 139.033 27.1515C138.56 27.1515 138.077 27.2302 137.585 27.3876C137.099 27.545 136.557 27.8172 135.959 28.2041L134.55 26.1087C135.864 25.1643 137.43 24.692 139.25 24.692C140.741 24.692 141.916 24.9937 142.777 25.5971C143.644 26.2005 144.077 27.04 144.077 28.1156Z" fill="#04474B"/>
      <path *ngIf="isExpanded || isShowing"  d="M145.998 33.1723C145.998 30.3258 146.599 28.2074 147.801 26.817C149.009 25.4266 150.816 24.7314 153.219 24.7314C154.04 24.7314 154.684 24.7806 155.15 24.879V27.3089C154.566 27.1777 153.988 27.1121 153.416 27.1121C152.372 27.1121 151.518 27.2696 150.855 27.5844C150.198 27.8992 149.706 28.3648 149.377 28.9813C149.049 29.5978 148.855 30.4734 148.796 31.608H148.924C149.574 30.4931 150.615 29.9356 152.047 29.9356C153.334 29.9356 154.342 30.339 155.071 31.1457C155.801 31.9524 156.165 33.0673 156.165 34.4905C156.165 36.0252 155.732 37.2419 154.865 38.1404C153.998 39.0323 152.796 39.4783 151.259 39.4783C150.195 39.4783 149.266 39.2324 148.471 38.7405C147.683 38.2486 147.072 37.5304 146.638 36.586C146.212 35.6416 145.998 34.5037 145.998 33.1723ZM151.2 37.0484C151.85 37.0484 152.349 36.8319 152.697 36.3991C153.045 35.9597 153.219 35.3366 153.219 34.5299C153.219 33.8281 153.055 33.2772 152.727 32.8771C152.405 32.4705 151.916 32.2672 151.259 32.2672C150.642 32.2672 150.113 32.4672 149.673 32.8673C149.239 33.2674 149.023 33.733 149.023 34.2643C149.023 35.0447 149.226 35.7039 149.633 36.2417C150.047 36.7795 150.569 37.0484 151.2 37.0484Z" fill="#04474B"/>
      <path *ngIf="isExpanded || isShowing"   d="M167.613 32.0901C167.613 34.602 167.199 36.4614 166.371 37.6682C165.55 38.8749 164.283 39.4783 162.569 39.4783C160.907 39.4783 159.653 38.8553 158.805 37.6091C157.965 36.363 157.544 34.5233 157.544 32.0901C157.544 29.5519 157.955 27.6827 158.776 26.4825C159.597 25.2758 160.861 24.6724 162.569 24.6724C164.23 24.6724 165.485 25.302 166.332 26.5612C167.186 27.8205 167.613 29.6634 167.613 32.0901ZM160.569 32.0901C160.569 33.8544 160.72 35.1202 161.022 35.8875C161.331 36.6483 161.846 37.0287 162.569 37.0287C163.278 37.0287 163.79 36.6417 164.105 35.8678C164.421 35.0939 164.578 33.8347 164.578 32.0901C164.578 30.3258 164.417 29.06 164.096 28.2927C163.78 27.5188 163.271 27.1318 162.569 27.1318C161.853 27.1318 161.34 27.5188 161.032 28.2927C160.723 29.06 160.569 30.3258 160.569 32.0901Z" fill="#04474B"/>
  </svg>
  <mat-nav-list>
</mat-nav-list>

<div class="dmstc-intrl" *ngIf="isExpanded || isShowing">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle checked value="Domestic" (change)="onChange($event)"
      >Domestic</mat-button-toggle>
      <mat-button-toggle value="International" (change)="onChange($event)">Global</mat-button-toggle>
    </mat-button-toggle-group>
</div>
  
<mat-nav-list class="Nav-list"> 
<mat-list-item [routerLink]="['/home']" >
  <svg class="menu-item" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2.53516C0 1.43059 0.89543 0.535156 2 0.535156H6C7.10457 0.535156 8 1.43059 8 2.53516V6.53516C8 7.63973 7.10457 8.53516 6 8.53516H2C0.895431 8.53516 0 7.63973 0 6.53516V2.53516ZM6 2.53516H2V6.53516H6V2.53516ZM10 2.53516C10 1.43059 10.8954 0.535156 12 0.535156H16C17.1046 0.535156 18 1.43059 18 2.53516V6.53516C18 7.63973 17.1046 8.53516 16 8.53516H12C10.8954 8.53516 10 7.63973 10 6.53516V2.53516ZM16 2.53516H12V6.53516H16V2.53516ZM0 12.5352C0 11.4306 0.89543 10.5352 2 10.5352H6C7.10457 10.5352 8 11.4306 8 12.5352V16.5352C8 17.6397 7.10457 18.5352 6 18.5352H2C0.895431 18.5352 0 17.6397 0 16.5352V12.5352ZM6 12.5352H2V16.5352H6V12.5352ZM10 12.5352C10 11.4306 10.8954 10.5352 12 10.5352H16C17.1046 10.5352 18 11.4306 18 12.5352V16.5352C18 17.6397 17.1046 18.5352 16 18.5352H12C10.8954 18.5352 10 17.6397 10 16.5352V12.5352ZM16 12.5352H12V16.5352H16V12.5352Z"></path></svg>
  <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
</mat-list-item>

<mat-list-item [routerLink]="['/activity']">
<svg class="menu-item" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 4.53516C11.5523 4.53516 12 4.98287 12 5.53516V11.0461L16.1139 14.2458C16.5499 14.5849 16.6284 15.2131 16.2894 15.6491C15.9503 16.085 15.322 16.1636 14.8861 15.8245L10.3861 12.3245C10.1425 12.1351 10 11.8437 10 11.5352V5.53516C10 4.98287 10.4477 4.53516 11 4.53516Z"></path><path d="M11 0.535156C17.0751 0.535156 22 5.46002 22 11.5352C22 17.6103 17.0751 22.5352 11 22.5352C4.92487 22.5352 0 17.6103 0 11.5352C0 5.46002 4.92487 0.535156 11 0.535156ZM11 2.53516C6.02944 2.53516 2 6.56459 2 11.5352C2 16.5057 6.02944 20.5352 11 20.5352C15.9706 20.5352 20 16.5057 20 11.5352C20 6.56459 15.9706 2.53516 11 2.53516Z"></path></svg>
<span class="full-width" *ngIf="isExpanded || isShowing">Account Activity</span>
</mat-list-item> 
<mat-list-item [routerLink]="['/documents']"> 
<svg class="menu-item" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 11.5352C11 11.2699 10.8946 11.0156 10.7071 10.828C10.5196 10.6405 10.2652 10.5352 10 10.5352H5C4.73478 10.5352 4.48043 10.6405 4.29289 10.828C4.10536 11.0156 4 11.2699 4 11.5352C4 11.8004 4.10536 12.0547 4.29289 12.2423C4.48043 12.4298 4.73478 12.5352 5 12.5352H10C10.2652 12.5352 10.5196 12.4298 10.7071 12.2423C10.8946 12.0547 11 11.8004 11 11.5352ZM8 18.5352H3C2.73478 18.5352 2.48043 18.4298 2.29289 18.2423C2.10536 18.0547 2 17.8004 2 17.5352V3.53516C2 3.26994 2.10536 3.01559 2.29289 2.82805C2.48043 2.64051 2.73478 2.53516 3 2.53516H8V5.53516C8 6.33081 8.31607 7.09387 8.87868 7.65648C9.44129 8.21909 10.2044 8.53516 11 8.53516H14V9.53516C14 9.80037 14.1054 10.0547 14.2929 10.2423C14.4804 10.4298 14.7348 10.5352 15 10.5352C15.2652 10.5352 15.5196 10.4298 15.7071 10.2423C15.8946 10.0547 16 9.80037 16 9.53516V7.53516C16 7.53516 16 7.53516 16 7.47516C15.9907 7.38311 15.9705 7.29249 15.94 7.20516V7.11516C15.8945 7.01088 15.8301 6.91594 15.75 6.83516L9.75 0.835156C9.66734 0.757372 9.57282 0.693237 9.47 0.645156H9.38C9.28167 0.58766 9.1729 0.550269 9.06 0.535156H3C2.20435 0.535156 1.44129 0.851227 0.87868 1.41384C0.316071 1.97645 0 2.73951 0 3.53516V17.5352C0 18.3308 0.316071 19.0939 0.87868 19.6565C1.44129 20.2191 2.20435 20.5352 3 20.5352H8C8.26522 20.5352 8.51957 20.4298 8.70711 20.2423C8.89464 20.0547 9 19.8004 9 19.5352C9 19.2699 8.89464 19.0156 8.70711 18.828C8.51957 18.6405 8.26522 18.5352 8 18.5352ZM10 3.94516L12.59 6.53516H11C10.7348 6.53516 10.4804 6.4298 10.2929 6.24226C10.1054 6.05473 10 5.80037 10 5.53516V3.94516ZM17 12.5352C16.8065 12.5364 16.6176 12.5938 16.4561 12.7003C16.2945 12.8068 16.1674 12.9578 16.09 13.1352C15.4606 12.7493 14.7382 12.5419 14 12.5352C13.3526 12.5342 12.7146 12.6905 12.1408 12.9905C11.5671 13.2905 11.0747 13.7253 10.706 14.2575C10.3374 14.7897 10.1034 15.4035 10.0243 16.0461C9.9451 16.6887 10.0231 17.3409 10.2516 17.9467C10.4801 18.5525 10.8522 19.0938 11.3359 19.524C11.8197 19.9543 12.4007 20.2607 13.029 20.417C13.6574 20.5732 14.3142 20.5746 14.9432 20.421C15.5721 20.2674 16.1544 19.9634 16.64 19.5352C16.8402 19.3601 16.9627 19.1127 16.9806 18.8473C16.9984 18.582 16.91 18.3204 16.735 18.1202C16.56 17.9199 16.3125 17.7974 16.0472 17.7796C15.7818 17.7618 15.5202 17.8501 15.32 18.0252C14.9569 18.3503 14.4874 18.5317 14 18.5352C13.6962 18.5303 13.3975 18.4562 13.1266 18.3186C12.8557 18.181 12.6197 17.9835 12.4365 17.7411C12.2533 17.4986 12.1278 17.2177 12.0694 16.9195C12.0111 16.6213 12.0215 16.3137 12.0998 16.0201C12.178 15.7265 12.3222 15.4546 12.5213 15.2251C12.7204 14.9955 12.9691 14.8143 13.2487 14.6953C13.5283 14.5762 13.8313 14.5225 14.1347 14.538C14.4382 14.5536 14.7341 14.6381 15 14.7852H14.78C14.5148 14.7852 14.2604 14.8905 14.0729 15.078C13.8854 15.2656 13.78 15.5199 13.78 15.7852C13.78 16.0504 13.8854 16.3047 14.0729 16.4923C14.2604 16.6798 14.5148 16.7852 14.78 16.7852H17C17.2652 16.7852 17.5196 16.6798 17.7071 16.4923C17.8946 16.3047 18 16.0504 18 15.7852V13.5352C18 13.2699 17.8946 13.0156 17.7071 12.828C17.5196 12.6405 17.2652 12.5352 17 12.5352ZM5 8.53516H6C6.26522 8.53516 6.51957 8.4298 6.70711 8.24226C6.89464 8.05473 7 7.80037 7 7.53516C7 7.26994 6.89464 7.01559 6.70711 6.82805C6.51957 6.64051 6.26522 6.53516 6 6.53516H5C4.73478 6.53516 4.48043 6.64051 4.29289 6.82805C4.10536 7.01559 4 7.26994 4 7.53516C4 7.80037 4.10536 8.05473 4.29289 8.24226C4.48043 8.4298 4.73478 8.53516 5 8.53516ZM5 14.5352C4.73478 14.5352 4.48043 14.6405 4.29289 14.828C4.10536 15.0156 4 15.2699 4 15.5352C4 15.8004 4.10536 16.0547 4.29289 16.2423C4.48043 16.4298 4.73478 16.5352 5 16.5352H7C7.26522 16.5352 7.51957 16.4298 7.70711 16.2423C7.89464 16.0547 8 15.8004 8 15.5352C8 15.2699 7.89464 15.0156 7.70711 14.828C7.51957 14.6405 7.26522 14.5352 7 14.5352H5Z"></path></svg>
<span class="full-width" *ngIf="isExpanded || isShowing">Documents</span>
</mat-list-item>
<mat-list-item [routerLink]="['/contacts']"  >
<svg class="menu-item" width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3 8.75516C11.8336 8.29329 12.2616 7.72204 12.5549 7.08018C12.8482 6.43832 13 5.74087 13 5.03516C13 3.70907 12.4732 2.4373 11.5355 1.49962C10.5979 0.561941 9.32608 0.0351564 8 0.0351564C6.67392 0.0351564 5.40215 0.561941 4.46447 1.49962C3.52678 2.4373 3 3.70907 3 5.03516C2.99999 5.74087 3.1518 6.43832 3.44513 7.08018C3.73845 7.72204 4.16642 8.29329 4.7 8.75516C3.30014 9.38904 2.11247 10.4127 1.27898 11.7037C0.445495 12.9947 0.00147185 14.4985 0 16.0352C0 16.3004 0.105357 16.5547 0.292893 16.7423C0.48043 16.9298 0.734784 17.0352 1 17.0352C1.26522 17.0352 1.51957 16.9298 1.70711 16.7423C1.89464 16.5547 2 16.3004 2 16.0352C2 14.4439 2.63214 12.9177 3.75736 11.7925C4.88258 10.6673 6.4087 10.0352 8 10.0352C9.5913 10.0352 11.1174 10.6673 12.2426 11.7925C13.3679 12.9177 14 14.4439 14 16.0352C14 16.3004 14.1054 16.5547 14.2929 16.7423C14.4804 16.9298 14.7348 17.0352 15 17.0352C15.2652 17.0352 15.5196 16.9298 15.7071 16.7423C15.8946 16.5547 16 16.3004 16 16.0352C15.9985 14.4985 15.5545 12.9947 14.721 11.7037C13.8875 10.4127 12.6999 9.38904 11.3 8.75516ZM8 8.03516C7.40666 8.03516 6.82664 7.85921 6.33329 7.52956C5.83994 7.19992 5.45542 6.73138 5.22836 6.18321C5.0013 5.63503 4.94189 5.03183 5.05764 4.44989C5.1734 3.86794 5.45912 3.33339 5.87868 2.91384C6.29824 2.49428 6.83279 2.20856 7.41473 2.0928C7.99667 1.97705 8.59987 2.03646 9.14805 2.26352C9.69623 2.49058 10.1648 2.8751 10.4944 3.36845C10.8241 3.86179 11 4.44181 11 5.03516C11 5.83081 10.6839 6.59387 10.1213 7.15648C9.55871 7.71909 8.79565 8.03516 8 8.03516ZM17.74 8.35516C18.38 7.63449 18.798 6.74421 18.9438 5.7915C19.0896 4.83878 18.9569 3.86423 18.5618 2.98516C18.1666 2.10608 17.5258 1.35995 16.7165 0.836579C15.9071 0.313206 14.9638 0.0348986 14 0.0351564C13.7348 0.0351564 13.4804 0.140513 13.2929 0.32805C13.1054 0.515586 13 0.76994 13 1.03516C13 1.30037 13.1054 1.55473 13.2929 1.74226C13.4804 1.9298 13.7348 2.03516 14 2.03516C14.7956 2.03516 15.5587 2.35123 16.1213 2.91384C16.6839 3.47645 17 4.23951 17 5.03516C16.9986 5.5604 16.8593 6.07606 16.5961 6.53058C16.3328 6.9851 15.9549 7.36254 15.5 7.62516C15.3517 7.71068 15.2279 7.83282 15.1404 7.9799C15.0528 8.12697 15.0045 8.29406 15 8.46516C14.9958 8.63492 15.0349 8.80295 15.1137 8.95341C15.1924 9.10388 15.3081 9.23181 15.45 9.32516L15.84 9.58516L15.97 9.65516C17.1754 10.2269 18.1923 11.1311 18.901 12.2615C19.6096 13.3918 19.9805 14.7011 19.97 16.0352C19.97 16.3004 20.0754 16.5547 20.2629 16.7423C20.4504 16.9298 20.7048 17.0352 20.97 17.0352C21.2352 17.0352 21.4896 16.9298 21.6771 16.7423C21.8646 16.5547 21.97 16.3004 21.97 16.0352C21.9782 14.5006 21.5938 12.9894 20.8535 11.6452C20.1131 10.301 19.0413 9.16847 17.74 8.35516Z"></path></svg>
<span class="full-width" *ngIf="isExpanded || isShowing">Contacts</span>
</mat-list-item>
<mat-list-item [routerLink]="['/']" > 
<svg class="menu-item" width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.0899 2.35522C12.1702 1.59881 11.0933 1.05725 9.9376 0.770069C8.78194 0.482883 7.57674 0.457314 6.40994 0.695225C4.85632 1.00905 3.43093 1.7773 2.31462 2.9025C1.19832 4.02771 0.441414 5.45916 0.139942 7.01522C-0.0802115 8.18195 -0.0402063 9.38287 0.257104 10.5324C0.554414 11.6818 1.1017 12.7516 1.85994 13.6652C2.56363 14.4593 2.96698 15.4747 2.99994 16.5352V19.5352C2.99994 20.3309 3.31601 21.0939 3.87862 21.6565C4.44123 22.2192 5.20429 22.5352 5.99994 22.5352H9.99994C10.7956 22.5352 11.5587 22.2192 12.1213 21.6565C12.6839 21.0939 12.9999 20.3309 12.9999 19.5352V16.7252C13.0335 15.5544 13.4637 14.4297 14.2199 13.5352C15.5451 11.896 16.1697 9.80005 15.9581 7.70285C15.7465 5.60566 14.7158 3.67671 13.0899 2.33522V2.35522ZM10.9999 19.5352C10.9999 19.8004 10.8946 20.0548 10.707 20.2423C10.5195 20.4299 10.2652 20.5352 9.99994 20.5352H5.99994C5.73473 20.5352 5.48037 20.4299 5.29284 20.2423C5.1053 20.0548 4.99994 19.8004 4.99994 19.5352V18.5352H10.9999V19.5352ZM12.6699 12.2952C11.6644 13.4878 11.0778 14.9773 10.9999 16.5352H8.99994V13.5352C8.99994 13.27 8.89458 13.0157 8.70705 12.8281C8.51951 12.6406 8.26516 12.5352 7.99994 12.5352C7.73473 12.5352 7.48037 12.6406 7.29284 12.8281C7.1053 13.0157 6.99994 13.27 6.99994 13.5352V16.5352H4.99994C4.97356 15.0033 4.40689 13.53 3.39994 12.3752C2.73558 11.5792 2.28883 10.6246 2.10325 9.60457C1.91767 8.5845 1.99959 7.53374 2.34103 6.55475C2.68247 5.57577 3.27176 4.70197 4.05146 4.01855C4.83116 3.33513 5.77465 2.86542 6.78994 2.65522C7.66249 2.47557 8.5641 2.49247 9.42931 2.70469C10.2945 2.91692 11.1016 3.31915 11.792 3.88218C12.4824 4.44521 13.0387 5.1549 13.4206 5.95974C13.8025 6.76458 14.0004 7.64437 13.9999 8.53522C14.0073 9.90509 13.537 11.2347 12.6699 12.2952Z"></path></svg>
<span class="full-width" *ngIf="isExpanded || isShowing">Insights</span>
</mat-list-item>
<mat-list-item [routerLink]="['/search']" >
<svg class="menu-item" fill="none" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="16px" height="23px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/></svg>
<span class="full-width" *ngIf="isExpanded || isShowing">Search</span>
<!-- <span class="full-width" *ngIf="isExpanded || isShowing">Insights</span> -->
</mat-list-item>

<div class="key-contacts">
  <h3 [ngClass]='{"key-hdr": !isExpanded}'><span *ngIf="isExpanded || isShowing">Key Contacts</span></h3>
  <div class="s-key-con" *ngFor="let kCon of keycontacts?.slice(0, 3);" >
    <div class="key-Con-avatar">
      <img src="../../../../../assets/images/avatar-mgreen.png">
      <div class="key-con-details" *ngIf="isExpanded || isShowing">
        <div class="con-name">{{kCon.firstName}}{{kCon.lastName}}</div>
        <div class="con-mob"> <a href="tel:+919515151584">{{kCon.workPhoneNumber}}</a></div>
      </div>
    </div>
    <div class="key-mail" *ngIf="isExpanded || isShowing">
      <a href="#">
        <svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg"><path d="M0.333496 2.25008C0.333496 1.5137 0.930449 0.916748 1.66683 0.916748H12.3335C13.0699 0.916748 13.6668 1.5137 13.6668 2.25008V10.2501C13.6668 10.9865 13.0699 11.5834 12.3335 11.5834H1.66683C0.930451 11.5834 0.333496 10.9865 0.333496 10.2501V2.25008ZM2.67922 2.25008L7.00016 6.0309L11.3211 2.25008H2.67922ZM12.3335 3.13593L7.43917 7.41847C7.18782 7.6384 6.81251 7.6384 6.56116 7.41847L1.66683 3.13593V10.2501H12.3335V3.13593Z"></path></svg>
      </a>
    </div>
  </div>
  <label style="cursor: pointer;" (click)="redirectToContactsPage()">...</label>
  <!-- <div class="s-key-con">
    <div class="key-Con-avatar">
      <img src="../../../../../assets/images/avatar-mgreen.png">
      <div class="key-con-details" *ngIf="isExpanded || isShowing">
        <div class="con-name">Mary Green</div>
        <div class="con-mob">(949) 555-7311</div>
      </div>
    </div>
    <div class="key-mail" *ngIf="isExpanded || isShowing">
      <a href="#">
        <svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg"><path d="M0.333496 2.25008C0.333496 1.5137 0.930449 0.916748 1.66683 0.916748H12.3335C13.0699 0.916748 13.6668 1.5137 13.6668 2.25008V10.2501C13.6668 10.9865 13.0699 11.5834 12.3335 11.5834H1.66683C0.930451 11.5834 0.333496 10.9865 0.333496 10.2501V2.25008ZM2.67922 2.25008L7.00016 6.0309L11.3211 2.25008H2.67922ZM12.3335 3.13593L7.43917 7.41847C7.18782 7.6384 6.81251 7.6384 6.56116 7.41847L1.66683 3.13593V10.2501H12.3335V3.13593Z"></path></svg>
      </a>
    </div>
  </div>
  <div class="s-key-con">
    <div class="key-Con-avatar">
      <img src="../../../../../assets/images/avatar-fbrown.png">
      <div class="key-con-details" *ngIf="isExpanded || isShowing">
        <div class="con-name">Mary Green</div>
        <div class="con-mob">(949) 555-7311</div>
      </div>
    </div>
    <div class="key-mail" *ngIf="isExpanded || isShowing">
      <a href="#">
        <svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg"><path d="M0.333496 2.25008C0.333496 1.5137 0.930449 0.916748 1.66683 0.916748H12.3335C13.0699 0.916748 13.6668 1.5137 13.6668 2.25008V10.2501C13.6668 10.9865 13.0699 11.5834 12.3335 11.5834H1.66683C0.930451 11.5834 0.333496 10.9865 0.333496 10.2501V2.25008ZM2.67922 2.25008L7.00016 6.0309L11.3211 2.25008H2.67922ZM12.3335 3.13593L7.43917 7.41847C7.18782 7.6384 6.81251 7.6384 6.56116 7.41847L1.66683 3.13593V10.2501H12.3335V3.13593Z"></path></svg>
      </a>
    </div>
  </div>
  <div class="s-key-con">
    <div class="key-Con-avatar">
      <img src="../../../../../assets/images/avatar-jslay.png">
      <div class="key-con-details" *ngIf="isExpanded || isShowing">
        <div class="con-name">Mary Green</div>
        <div class="con-mob">(949) 555-7311</div>
      </div>
    </div>
    <div class="key-mail" *ngIf="isExpanded || isShowing">
      <a href="#">
        <svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg"><path d="M0.333496 2.25008C0.333496 1.5137 0.930449 0.916748 1.66683 0.916748H12.3335C13.0699 0.916748 13.6668 1.5137 13.6668 2.25008V10.2501C13.6668 10.9865 13.0699 11.5834 12.3335 11.5834H1.66683C0.930451 11.5834 0.333496 10.9865 0.333496 10.2501V2.25008ZM2.67922 2.25008L7.00016 6.0309L11.3211 2.25008H2.67922ZM12.3335 3.13593L7.43917 7.41847C7.18782 7.6384 6.81251 7.6384 6.56116 7.41847L1.66683 3.13593V10.2501H12.3335V3.13593Z"></path></svg>
      </a>
    </div>
  </div> -->
</div>

<div *ngFor="let bContacts of businessContact  ;let i = index"  >
    <mat-list-item  (click)="showSubmenu  = !showSubmenu1" class="parent sMenu-dd-con" *ngIf="isExpanded || isShowing">
      <span class="full-width">{{bContacts.source.name}}</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
    </mat-list-item>
    <ng-container *ngIf="showSubmenu">
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isExpanded || isShowing">
      <div class="sMenu-dd">
        <div class="sMenu-dd-des">{{bContacts.source.company}}</div>          
        <div class="sMenu-dd-contact"><a  href="tel:{{bContacts.source.phone}}">{{bContacts.source.phone}}</a></div>
        <a href="mailto:{{bContacts.source.clientEmail}}">{{bContacts.source.clientEmail}}</a>
      </div>
    </div>
  </ng-container>
</div>

    <mat-list-item (click)="showSubmenu1 = !showSubmenu1" class="parent sMenu-dd-con" *ngIf="isExpanded || isShowing">
      <span class="full-width">Zywave</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isExpanded || isShowing">
      <div class="sMenu-dd">
        <div class="sMenu-dd-des">Employer HR Services</div>
        <div class="sMenu-dd-contact">(949) 555-7312</div>
        <a href="mailto:info@zywave.com">info@zywave.com</a>
      </div>
    </div>
  </mat-nav-list>

  <button class="collapse-btn" mat-icon-button (click)="isExpanded = !isExpanded">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </button>
</mat-sidenav>
  <div class="example-sidenav-content">
    <div class="example-sidenav-content">
      <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-md bg-woodruff">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-woodruff">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="nav-woodruff">
                <select class="addClient form-control" (change)="AddClient($event)" *ngIf="AddClient_select">
                  <option value="select" selected>--Select Client--</option>    
                  <option *ngFor="let client of clientNames "  value="{{client.key}}">{{client.key}} </option>
                  <option class="opt-link" value="addClient">Add Client</option>                   
                </select>
                <div class="addclient_input_area" *ngIf="AddClient_input">
                  <input type="text" [(ngModel)]="clientName" name="name">
                  <button (click)="addnewClient()" class="btn btn-info btn-sm">Add</button> 
                </div>
                  <ul class="navbar-nav mr-auto"> 
                      <li class="nav-item">
                          <a class="nav-link">{{companyName}}</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" >Employe Benefits</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link flip-r-l" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.31 20"><path d="M8.12,2A6.05,6.05,0,0,0,2,8a6.05,6.05,0,0,0,6.09,6,6.05,6.05,0,0,0,6.1-6A6.05,6.05,0,0,0,8.12,2ZM0,8A8.06,8.06,0,0,1,8.12,0a8.06,8.06,0,0,1,8.13,8,7.91,7.91,0,0,1-1.71,4.91L20,18.29a1,1,0,0,1,0,1.42,1,1,0,0,1-1.43,0L13.1,14.32a8.17,8.17,0,0,1-5,1.68A8.06,8.06,0,0,1,0,8Z"></path></svg>                            </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link top-nav-notify" href="#"><i class="las la-bell"></i></a>
                      </li>
                      <li class="nav-item" >
                          <a class="nav-link" [matMenuTriggerFor]="profileMenu"><span class="pro-pic">{{shortName}}</span>{{username}}</a>
                      </li>
                      <mat-menu class="profile-menu" #profileMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="logout()">Logout</button>
                      </mat-menu>
                  </ul>

              </div>
          </nav>
      </div>
      <!-- <span (click)="drawer.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></span> -->
  </div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>




