/* @import url(../.././../../../assets/css/main.css);  */
body{margin:0px;}
.logo img {
  width: 150px;
  margin-top: 10px;
}
.logo img.slogo {
  width: 55px;
  padding: 4px;
}
.toast-qr.ng-star-inserted {
  border-radius: 4px;
  margin: 43px auto 0px;
  border: 1px solid rgb(44 153 66 / 27%);
  background: #2c9942;
  position: absolute;
  z-index: 999; 
  left: 30%;
  color: #fff;
  padding: 10px;
  display: flex;
}
.toast-qr button {
  margin: -2px 0px 0px 20px;
} 
.toast-qr p{
  margin: 0px;
}
.mat-toolbar, .mat-drawer-container, .mat-drawer {
  background: #ffffff;
  color: #000;
}
.mat-list-base .mat-list-item {
  color: #323131;
  font-weight: 500;
}
.mat-drawer.mat-drawer-side {
  box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
}

.example-container {
  height: 100vh;
  border: 0px solid rgba(0, 0, 0, 0.5);
}
/* .example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.collapse-btn {
  border-radius: 100%;
  border: 0PX;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 20px;
  left: 20px; 
} 
.mat-list-item-content svg {
  width: 30px;
  margin: 0px 10px 0px 0px;
}
.mat-list-item-content svg {
  fill: #85858f;
}
.mat-list-item-content svg:hover {
  fill: #268f39; 
}
svg.s-logo {
  width: 180px;
  margin: 10px 30px 0px 10px;
  height: 51px;
}
svg.s-logo.min-logo{
  width: 51px;
  height: 51px;
  margin-right: 0px;
} 

.key-contacts {
  margin-top: 15px;
  padding: 0px 10px;
}
.key-contacts h3 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 28px;
}
.s-key-con {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.key-Con-avatar{
  display: flex;
}
.key-Con-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.key-con-details {
  margin-left: 10px;
  line-height: 16px;
}
.key-con-details .con-name {
  font-weight: 500;
}
.key-con-details .con-mob {
  font-size: 10px;
}
.key-mail a svg{
  fill: rgb(44, 153, 66);
}
.sMenu-dd-con{
border-top:1px solid #ccc;
}
.sMenu-dd {
  font-size: 12px;
  color: #505760;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  width: 4px;
}

.mat-drawer-inner-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
.mat-list-item-content:hover {
  background-color: #f5f5f5;
  color: #268f39;
  text-decoration: none;
}
.mat-list-item-content:hover svg.menu-item path {
  fill: #268f39;
}
.Nav-list .mat-list-item{
  height: 40px; 
}
.dmstc-intrl .mat-button-toggle-checked {
  background-color: #2c9942;
  color: rgba(255,255,255,.7);
}
 .mat-button-toggle-appearance-standard {
  color: #323131;
  background: rgb(229 229 229);
}
.dmstc-intrl .mat-button-toggle {
  white-space: nowrap;
  position: relative;
  border-radius: 4px;
  width: 100px;
  font-size: 13px;
}
.dmstc-intrl .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 38px;
}


/*Top menu*/
.bg-woodruff{
  background-color: rgb(28 36 59);
}
span.pro-pic {
  background: rgb(38 143 57);
  border-radius: 100%;
  padding: 2px;
  margin-right: 5px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center; 
}
.bg-woodruff li.nav-item a {
  color: #aaacb7;
  font-size: 14px;
}
.bg-woodruff li.nav-item a i { 
  color: #aaacb7;
  font-size: 20px;
}
.flip-r-l {
  display: flex;
  transform: rotate(275deg);
  margin-right: 58rem;
}
.top-nav-notify i::after {
  content: "";
  background: #268f39;
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 17px;
}
select.addClient {
  width: 150px;
  margin: 10px;
}
.addclient_input_area input {
  height: 34px;
  border-radius: 4px;
  border: 0px;
  margin-right: 10px;
  width: 150px;
} 
.addclient_input_area button {
  margin-top: -2px;
} 

/* profile-menu start */
.profile-menu {
  width: 180px;
  background: #fff;
}

.profile-menu button.mat-menu-item {
  background: #fff;
  color: #000;
}
.opt-link{

color: #5b38f0;
}
/* profile-menu End */
