<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="label-text">Email *</label>
                <input (blur)="retriveData()"  type="email" [(ngModel)]="businessContact.clientEmail" class="form-control" placeholder="Enter email">
            </div>
           
            <div class="form-group">
                <label for="label-text">Company *</label>
                <input  type="text" [(ngModel)]="businessContact.company" class="form-control" placeholder="Enter company">
            </div>
            <div class="form-group">
                <label for="label-text">Client *</label>
                <input  type="text" [(ngModel)]="client" class="form-control" placeholder="Client">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">                
                <label for="label-text">Name *</label>
                <input  type="text" [(ngModel)]="businessContact.name" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label for="label-text">Phone *</label>
                <input  type="text" [(ngModel)]="businessContact.phone" class="form-control" placeholder="Enter phone">
            </div>
           
        </div>
    </div>

    <input type="button" (click)="saveBusinessContact()" class="btn btn-primary" value="Save">
    <!-- "name, company, associated_clients : [], phone, email" -->
</div>