<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="Rborder">
            <div class="row">
                <div class="col-md-10 col-md-push-10">
                    <h2>Add Client Contact</h2>
                </div>
                <div class="col-md-2 col-md-push-2">
                  
                    <button mat-button class="close-icon" [mat-dialog-close]="true">
                        <mat-icon>close</mat-icon>
                    </button>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstName">First Name *</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            placeholder="First Name">
                        <span class="text-danger"
                            *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                            First Name is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="lastName">Last Name *</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            placeholder="Last Name">
                        <span class="text-danger"
                            *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                            Last Name is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Title">Title *</label>
                        <input type="text" formControlName="title" class="form-control"
                            placeholder="Title">
                        <span class="text-danger" *ngIf="(f.title.touched || submitted) && f.title.errors?.required">
                            Title is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Title">Company Name *</label>
                        <input type="text" formControlName="companyName" class="form-control"
                            placeholder="Company Name">
                        <span class="text-danger"
                            *ngIf="(f.companyName.touched || submitted) && f.companyName.errors?.required">
                            Company Name is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Address">Address *</label>
                        <input type="text" formControlName="Address" class="form-control"
                            placeholder="Address">
                        <span class="text-danger"
                            *ngIf="(f.Address.touched || submitted) && f.Address.errors?.required">
                            Address is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Floor">Floor, Unit,Etc.(Optional) </label>
                        <input type="text" formControlName="floor" class="form-control"
                            placeholder="Floor">
                        <span class="text-danger" *ngIf="(f.floor.touched || submitted) && f.floor.errors?.required">
                            floor is required
                        </span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="workPhone">Work Phone Number *</label>
                        <div class="mobile-prefix">
                            <select formControlName="workPhoneCountryCode" class="form-control">
                                <option value="1" selected="selected">+1</option>
                                <option value="2">+2</option>
                            </select>
                            <input type="text" formControlName="workPhoneNumber" class="form-control"
                                placeholder="Enter Number">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bottom-align">
                    <div class="form-check">
                        <input class="form-check-input" value="work" formControlName="primaryContact" type="radio">
                        <label class="form-check-label" for="primaryContact">
                            Primary Contact Number
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span class="text-danger m-0"
                        *ngIf="(f.workPhoneNumber.touched || submitted) && f.workPhoneNumber.errors?.required">
                        Phone number is required
                    </span>
                    <span class="text-danger" *ngIf="(f.workPhoneNumber.touched || submitted) 
                     && f.workPhoneNumber.errors?.pattern?.requiredPattern">
                        Phone number is invalid

                    </span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="mobilePhoneCountryCode">Mobile Phone Number </label>
                        <div class="mobile-prefix">
                            <select formControlName="mobilePhoneCountryCode" class="form-control">
                                <option value="1">+1</option>
                                <option value="2">+2</option>
                            </select>
                            <input type="text" formControlName="mobilePhoneNumber" class="form-control"
                                placeholder="Enter Number">

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bottom-align">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="primaryContact" value="mobile" type="radio">
                        <label class="form-check-label" for="primaryContact">
                            Primary Contact Number
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!-- {{phoneNumber}}
                    <pre>
                        <code>
                            {{f.mobilePhoneNumber.errors | json}}
                         
                        </code>
                    </pre> -->
                    <span class="text-danger"
                        *ngIf="(f.mobilePhoneNumber.touched || submitted) && f.mobilePhoneNumber.errors?.required">
                        Mobile Phone Number is required
                    </span>
                    <span class="text-danger" *ngIf="(f.mobilePhoneNumber.touched || submitted) 
                     && f.mobilePhoneNumber.errors?.pattern?.requiredPattern">
                        Mobile Phone Number is invalid

                    </span>
                </div>
                <div class="col-sm-12">
                    <div class="add-email">
                        <a href="" (click)="addPhoneNumbers($event)">Add phone Number</a>
                    </div>
                </div>
                <div class="col-sm-12" formArrayName="morePhoneNumbers">

                    <div class="form-group" *ngFor="let lessonForm of morePhoneNumbers.controls; let i = index">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="workPhone">Work Phone Number *</label>
                                <div class="mobile-prefix">
                                    <select formControlName="workPhoneCountryCode" class="form-control">
                                        <option value="1" selected="selected">+1</option>
                                        <option value="2">+2</option>
                                    </select>
                                    <input type="text" formControlName="workPhoneNumber"
                                        class="form-control" placeholder="Enter Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 bottom-align">
                            <div class="form-check">
                                <input class="form-check-input" value="work" formControlName="primaryContact"
                                    type="radio">
                                <label class="form-check-label" for="primaryContact">
                                    Primary Contact Number
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- <button mat-mini-fab (click)="addLesson()">
                        <mat-icon class="add-course-btn">add</mat-icon>
                    </button> -->
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Email-Address">Email Address *</label>
                        <input type="text" formControlName="email" (blur)="validateEmail()"
                            class="form-control" placeholder="Email Address">
                        <span class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                            Email is required</span>
                        <span class="text-danger" *ngIf="(f.email.touched || submitted) && f.email.errors?.email">
                            Email is invalid</span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Comments">Comments *</label>
                        <input type="text" formControlName="comments" class="form-control"
                            placeholder="Comments">
                        <span class="text-danger"
                            *ngIf="(f.comments.touched || submitted) && f.comments.errors?.required">
                            comments is required
                        </span>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="contactType">Contact type </label>
                        <select formControlName="contactType" class="form-control">
                            <option *ngFor="let c of contactTypes" [value]="c.value">{{c.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="Contact-type">W360 Access </label>
                        <label class="switch">
                            <input type="checkbox" formControlName="isW360Access" [value]="f.isW360Access">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ftr-btn">
                        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">{{isEditMode ?
                            "Update" : "Add"}} Contact</button>
                        <a href="" (click)="removeClient($event)">Remove from client contacts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>