/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import"https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap";
@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";
:root {
    font-size: 13px;
}
body{
    margin:0px;
}
.ng-invalid.ng-touched{
    border-color: red;
}
.err{
    color:red 
}
p.work-in-progress {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: #6a6666;
}  
