
<div class="container">
    
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="doc-con mt-3 mb-5">
            <h2>Documents</h2> 
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="label-text">Geography *</label>
                    <input formControlName="Geography"  type="text" class="form-control" placeholder="Enter Geography">
                 <div *ngIf="f.Geography && f.Geography.invalid && f.Geography.touched" class="err">Geography Required</div>
                </div>

                <div class="form-group">
                    <label for="label-text">Country *</label>
                    <input formControlName="Country"  type="text" class="form-control" placeholder="Enter Country Name">
                    <div *ngIf="f.Country && f.Country.invalid && f.Country.touched" class="err">Country Required</div>
                </div>
                <div class="form-group">
                  <label for="name">Document Category</label>
                  <input 
                      formControlName="Document_Category"
                      id="Document_Category" 
                      type="text" 
                      class="form-control">
                 
              
              </div>
              
              <div class="form-group">
                  <label for="name">Generic Document Name *</label>
                  <input 
                      formControlName="Generic_Document_Name"
                      id="Generic_Document_Name" 
                      type="text" 
                      class="form-control">
                      <div *ngIf="f.Generic_Document_Name && f.Generic_Document_Name.invalid && f.Generic_Document_Name.touched" class="err">Generic_Document_Name Required</div>
              </div>
              <div class="form-group">
                  <label for="name">Specific Document Name *</label>
                  <input 
                      formControlName="Specific_Document_Name"
                      id="Specific_Document_Name" 
                      type="text" 
                      class="form-control">
                      <div *ngIf="f.Specific_Document_Name && f.Specific_Document_Name.invalid && f.Specific_Document_Name.touched" class="err">Specific_Document_Name Required</div>
            
              </div>
              
              
              <div class="form-group">
                  <label for="name">Format</label>
                  <input 
                      formControlName="Format"
                      id="Format" 
                      type="text" 
                      class="form-control">
                  
              </div>
              
              <div class="form-group">
                  <label for="name">Line of Business</label>
                  <input 
                      formControlName="Line_of_Business"
                      id="Line_of_Business" 
                      type="text" 
                      class="form-control">
                 
              </div>
              
              <div class="form-group">
                  <label for="name">Business Level</label>
                  <input 
                      formControlName="Business_Level"
                      id="Business_Level" 
                      type="text" 
                      class="form-control">
                 
              </div>
              
              <div class="form-group">
                  <label for="name">Coverage Type *</label>
                  <input 
                      formControlName="Coverage_Type"
                      id="Coverage_Type" 
                      type="text" 
                      class="form-control">
                      <div *ngIf="f.Coverage_Type && f.Coverage_Type.invalid && f.Coverage_Type.touched" class="err">Coverage_Type Required</div>

              </div>
              <div class="form-group">
                <label for="name">Carrier</label>
                <input 
                    formControlName="Carrier"
                    id="Carrier" 
                    type="text" 
                    class="form-control">
                
            </div>
            
            
            <div class="form-group">
                <label for="name">Plan</label>
                <input 
                    formControlName="Plan"
                    id="Plan" 
                    type="text" 
                    class="form-control">
                
            </div>
            
            <div class="form-group">
                <label for="name">Plan Type</label>
                <input 
                    formControlName="Plan_Type"
                    id="Plan_Type" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">Plan Start</label>
                <input 
                    formControlName="Plan_Start"
                    id="Plan_Start" 
                    type="text" 
                    class="form-control">
                
            </div>
            
            <div class="form-group">
                <label for="name">Search Tags</label>
                <input 
                    formControlName="Search_Tags"
                    id="Search_Tags" 
                    type="text" 
                    class="form-control">
               
            </div>
              
            </div>
          <div class="col-sm-6">
            
            
            <div class="form-group">
                <label for="name">Internal Information Tags</label>
                <input 
                    formControlName="Internal_Information_Tags"
                    id="Internal_Information_Tags" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">Optional Comments and Tags</label>
                <input 
                    formControlName="Optional_Comments_and_Tags"
                    id="Optional_Comments_and_Tags" 
                    type="text" 
                    class="form-control">
                
            </div>
            
            <div class="form-group">
                <label for="name">Visibility</label>
                <input 
                    formControlName="Visibility"
                    id="Visibility" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">Client *</label>
                <input 
                    formControlName="Client"
                    id="Client" 
                    type="text" 
                    class="form-control">
                    <div *ngIf="f.Client && f.Client.invalid && f.Client.touched" class="err">Coverage_Type Required</div>

            </div>
            
            <div class="form-group">
                <label for="name">Region Selector</label>
                <input 
                    formControlName="Region_Selector"
                    id="Region_Selector" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">Class Selector</label>
                <input 
                    formControlName="Class_Selector"
                    id="Class_Selector" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">GeoWho Uploaded / Savedgraphy</label>
                <input 
                    formControlName="Who_Uploaded_or_Saved"
                    id="Who_Uploaded_or_Saved" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">Date Uploaded / Saved</label>
                <input 
                    formControlName="Date_Uploaded_or_Saved"
                    id="Date_Uploaded_or_Saved" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">Upload Type</label>
                <input 
                    formControlName="Upload_Type"
                    id="Upload_Type" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">Defined in systems architecture</label>
                <input 
                    formControlName="Defined_in_systems_architecture"
                    id="Defined_in_systems_architecture" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">2nd Display</label>
                <input 
                    formControlName="second_Display"
                    id="second_Display" 
                    type="text" 
                    class="form-control">
               
            </div>
            
            <div class="form-group">
                <label for="name">Original Document Name</label>
                <input 
                    formControlName="Original_Document_Name"
                    id="Original_Document_Name" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">Display Name / Display Location</label>
                <input 
                    formControlName="Display_Name_or_Display_Location"
                    id="Display_Name_or_Display_Location" 
                    type="text" 
                    class="form-control">
               
            </div>
            <div class="form-group">
                <label for="name">Path</label>
                <input 
                    formControlName="Path"
                    id="path" 
                    type="text" 
                    class="form-control">
               
            </div>
            
                <div class="form-group Upload">
                    <label for="file">File *</label>
                    <input 
                        formControlName="file"
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)">
                        <div *ngIf="f.file && f.file.invalid && f.file.touched" class="err">Required</div>
               
                </div>
            
              
            </div>
            <div class="spinner" *ngIf="loading">
                <mat-progress-spinner diameter=50 mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>

        <button class="btn btn-success btn-outline-success" [disabled]="myForm.invalid" type="submit" >Save</button>
        <button class="btn btn-success" type="button"  (click)="resetForm()" >Cancel</button>

        </div>
    </form>
</div>
