.ng-invalid.ng-touched{
    border-color: red;
    }
    .err {
        color: red;
        position: absolute;
        right: 20px;
        margin-top: -57px;
        font-size: 12px; 
    }
    
    .btn{
        margin: 5px;
    }
    .doc-con {
        padding: 0px 30px;
    }
    .doc-con .Upload .err {
    left: 30px;
    margin: 0px;
    } 
    .doc-con input[type="file"].form-control {
        border: 0px;
    }
    .doc-con button{
        width: 120px;
    } 

    .loader{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
                    50% 50% no-repeat rgb(249,249,249);
      }